*{
	margin: 0;
	padding: 0;
}

body{

	background: #FFDDB2;
	color: #fff;
}

#wrapper{
	display: grid;
	grid-template-rows: 80px 1fr 80px;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: "title title title title "
	                      "list note note note "
	                      "footer footer footer footer";
	grid-gap: 10px;
}
h1{
	padding: 15px;
	font-family: "Open Sans";
	font-weight: 300;
	color: #FFAA3D;
	border-bottom: 3px solid #FFAA3D;
	grid-area: title;
	margin: 0px 15px; 

}
#list-wrapper{
	grid-area: list;
	border-right: 3px solid #FFAA3D;
	display: grid;
	padding: 15px;
	grid-template-rows: 40px 1fr 40px;
	margin-left: 15px;
	grid-template-areas: "title title"
	                      "list list"
	                       "button button";
	justify-content: center;
}
footer{
	grid-area: footer;
	border-top:3px solid #FFAA3D;
	color: #FFAA3D;
	font-family: "Nunito";
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
	font-weight: 600;
	margin: 0px 15px;
}
#main-note {
	grid-area: note;
}

#list{
	padding: 15px;
	grid-area: list;
}
li{
	font-family: "Open Sans";
	font-weight: 700;
	color: #FFAA3D;
	font-size: 16px;
	margin-bottom: 3px;
	list-style: none;
	text-align: center;


}

#note-title{
	font-family: "Nunito";
	font-weight: 600;
	font-size: 28px;
	color: #FFAA3D;
	text-align: center;
}

#note{
	max-width: 50%;
	background:transparent;
	color: #FFAA3D;
	font-size: 16px;
	font-family: "Nunito";
	font-weight: 500;
	min-height:250px;
	display: block;
	margin: 20px auto; 
	border-width: 3px;
	border-color:#FFAA3D;
	border-style: solid;
	border-radius: 4px;
	padding: 10px;
}
#note:focus{
	outline: none;

}

#list-title{
	grid-area: title;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 24px;
	color: #FFAA3D;
	text-align: center;
}
.button{
	padding: 5px;
	background: transparent;
	font-family: "Nunito";
	font-weight: 600;
	color: #FFAA3D;
	border: 2px solid #FFAA3D;
	border-radius: 4px;
	margin: 5px 3px;

}
#button-add-note{
	grid-area: button;
}

@media (max-width:900px){
	.button{
		font-size: 18px;
	}
	#list-title{
		font-size: 30px;
	}
	h1{
		font-size: 40px;
	}
	#wrapper{
		justify-content: center;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: 80px 1fr auto 80px;
		grid-template-areas: "title title title"
							 "note note note"
							 "list list list"
							 "footer footer footer";

	}
	li{
		font-size: 24px;
	}
	#note-title{
		font-size: 34px;
	}
	#note{
		font-size: 18px;
	}
	#list-wrapper{
		border:3px solid #fff;
		margin:20px auto;
	}
	footer{
		margin: 0;
	}
	h1{
		margin: 0;
	}
}