*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{

	background: #04203B;
	color: #fff;
	height: 100%;
}

#wrapper{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(8,1fr);
	grid-template-columns: repeat(4,1fr);
	grid-template-areas: "title title title title "
						"list note note note "
	                      "list note note note "
	                      "list note note note"
	                      "list note note note"
	                       "list note note note "
	                      "list note note note"
	                      "footer footer footer footer";
	grid-gap: 10px;
}
h1{
	padding: 10px;
	font-family: "Open Sans";
	font-weight: 300;
	color: #FFAA3D;
	font-size: 40px;
	border-bottom: 3px solid #FFAA3D;
	grid-area: title;
	margin: 0px 10px; 

}
#list-wrapper{
	grid-area: list;
	border-right: 3px solid #FFAA3D;
	display: grid;
	padding: 15px;
	/*min-height: 317px;*/
	grid-template-rows: 40px 1fr 40px;
	margin-left: 15px;
	grid-template-areas: "title title"
	                      "list list"
	                       "button button";
	justify-content: center;
}
footer{
	grid-area: footer;
	border-top:3px solid #FFAA3D;
	color: #FFAA3D;
	font-family: "Nunito";
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	padding-top: 15px;
	margin: 0px 15px;
	position:relative;
	bottom:0px;
}
#main-note {
	grid-area: note;
}

#list{
	overflow-y: scroll;
	padding: 15px;
	grid-area: list;
	height: 80%;
}

#list::-webkit-scrollbar {
    width: 3px;     /* Tamaño del scroll en vertical */   /* Tamaño del scroll en horizontal */
	 /* Ocultar scroll */
}
#list::-webkit-scrollbar-thumb {
    background:  #FFAA3D;
    border-radius: 4px;
}
#list::-webkit-scrollbar-track {
    background: #093F73;
    border-radius: 4px;
}
li{
	font-family: "Open Sans";
	font-weight: 600;
	color: #FFAA3D;
	font-size: 20px;
	margin-bottom: 3px;
	list-style: none;
	text-align: center;


}

#note-title{
	font-family: "Roboto";
	font-weight: 400;
	font-size:35px;
	color: #FFAA3D;
	margin: 10px auto;
	text-align: center;
}

#note{
	width:80%;
	background:transparent;
	color: #FFAA3D;
	font-size: 24px;
	font-family: "Roboto";
	font-weight: 400;
	display: block;
	height: 55%;
	margin:0px auto 10px auto;
	border-width: 3px 0px 3px 3px;
	border-color:#FFAA3D;
	border-style: solid;
	border-radius: 4px;
	padding: 25px;

}
#note::-webkit-scrollbar {
    width: 3px;     /* Tamaño del scroll en vertical */   /* Tamaño del scroll en horizontal */
	 /* Ocultar scroll */
}
#note::-webkit-scrollbar-thumb {
    background:  #FFAA3D;
    border-radius: 4px;
}
#note::-webkit-scrollbar-track {
    background: #093F73;
    border-radius: 4px;
}
#note:focus{
	outline: none;

}

#list-title{
	grid-area: title;
	font-family: "Open Sans";
	font-weight:600;
	font-size: 30px;
	color: #FFAA3D;
	text-align: center;
}
.button{
	padding:5px;
	background: transparent;
	font-family: "Nunito";
	font-weight: 600;
	font-size: 14px;
	color: #FFAA3D;
	border: 2px solid #FFAA3D;
	border-radius: 4px;
	margin: 5px 3px;
	text-align: center;
	alignment-baseline :center;

}
#button-add-note{
	grid-area: button;
}

@media (max-width:900px){
	.button{
		font-size: 18px;
	}
	#wrapper{
		justify-content: center;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: 80px repeat(4,1fr) 80px;
		grid-template-areas: "title title title title"
							"note note note note"
							 "note note note note"
							 "list list list list"
							 "list list list list"
							 "footer footer footer footer";

	}
	li{
		font-size: 24px;
	}
	#note-title{
		font-size: 34px;
	}
	#note{
		height: 70%;
	}
	#list-wrapper{
		border:3px solid #FFAA3D;
		margin:20px auto;
	}

}